body{
	background-color: #37e22b;
}

.section-table {
	padding-top: 150px;
}

.table-header{
	text-align: center;
}

.table-content{
	background-color: #fff;
	padding: 26.5px;
	min-height: 500px;
}

.elem{
	width: 73px;
	height: 72px;
	margin: 0.5px 0.5px;
	padding: 5px;
	text-align: center;
}

.elem-number{
	font-size: 14px;
}

.elem-symb{
	font-size: 21px;
}

.elem-name{
	font-size: 11px;
}

.elem.-otherNotMe{
	background-color: #ec8951;
}

.elem.-AlMe{
	background-color: #638fc9;
}

.elem.-AlErMe{
	background-color: #dfc1a3;
}

.elem.-Metalloid{
	background-color: #4bbda2;
}

.elem.-Gallogen{
	background-color: #c09bb5;
}

.elem.-NobleGas{
	background-color: #16a6d2;
}

.elem.-Post{
	background-color: #b7bd7d;
}

.elem.-Trans{
	background-color: #ecd503;
}

.table-row {
	display: flex;
}